//font**
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700');

/**
  * Tailwind CSS
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

// ******** Variable **********
$primary_color: #FFFFFF;
$secondary_color: #18568C;
$common_color: #000000;
$card_color: #EFF4F7;


/**
 * Custom Css (Common Css Style)
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
   font-family: 'Rubik', sans-serif;

	font-weight: normal;

	font-style: normal;

    background-color: #FFFFFF;
    // background: linear-gradient(176.98deg, #fff3f8 -4.94%, #e1f9f0 42.2%, rgba(244, 213, 255, 0.96) 110.23%);
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

input,
textarea {
    outline: none;
    border: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

img {
    max-width: 100%;
    // height: auto;
    // object-fit: cover
}

@layer base {
    .container {
        @apply mx-auto;
        @apply px-[1rem];
        max-width: 1280px;

        @screen sm {
            max-width: 720px;
        }
    }
}

.common-btn {
    padding: 0.6rem 2rem;
    border-radius: 0.5rem;
    background-color: $secondary_color;
    color: $primary_color;
    font-weight: 600;
    transition: all 4s ease-in-out;

    &:hover {
        border: 2px solid $secondary_color;

    }
}

.common-btn-outline {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: $primary_color;
    color: $secondary_color;
    font-weight: 600;
    transition: all 4s ease-in-out;

    &:hover {
        border: 2px solid $secondary_color;
        background-color: $secondary_color;
        color: $primary_color;
    }
}


.hover {
    @apply transition-all duration-300;

    &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
}

.text-hover {
    @apply transition-all duration-300;

    &:hover {
        color: inherit;
        box-shadow: 0 0 10px rgba(227, 224, 224, 0.51)
    }
}

// ::-webkit-scrollbar {
//     width: 10px;
//     height: 10px;
  
// }
.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  


// =====  
.title {
    font-size:2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 600;

    & span {
        color: $secondary_color;
        font-weight: 800;

        ::after {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background-color: $secondary_color;
            margin-bottom: 0.5rem;
        }
    }
}

.nav-category-title {
    padding-top: 0.5rem;
    font-size: inherit;
    padding-bottom: 0.5rem;
    font-weight: 600;
    color: $secondary_color;
    letter-spacing: 1px;
}


.bottom-banner-section{
    background-image: url("../src/Assets/OfferBanner/BannerOne.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    background-blend-mode: color;
    // background-color: #000000a1;
}

// ===================

.hero-slide-home{
    background-repeat: no-repeat !important;
    background-size: auto;
    background-position: center;
    background-blend-mode: color !important;
    background-color: #000000a7 !important;
}
